<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.example.asodes.AsoDesUnidos"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsoDes"
        tools:targetApi="31">
        <activity

            android:name="com.example.asodes.infPersonalActivity"
            android:exported="false" />
        <activity
            android:name="com.example.asodes.calCuotaActivity"
            android:exported="false" />
        <activity
            android:name="com.example.asodes.verPrestamosActivity"
            android:exported="false" />
        <activity
            android:name="com.example.asodes.clientePantallaPrincipalActivity"
            android:exported="false" />
        <activity
            android:name="com.example.asodes.AssignLoanActivity"
            android:exported="false" />
        <activity
            android:name="com.example.asodes.AdmPrincipalActivity"
            android:exported="false" />
        <activity
            android:name="com.example.asodes.ClientSavingsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.asodes.CreateClientActivity"
            android:exported="false" />

        <activity
            android:name="com.example.asodes.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>